.contact {
    height: auto;
    background-color: #323232;
    padding: em(11px);
    .inner-container {
        border-top: 1px solid #2b2b2b;
        border-bottom: 1px solid #2b2b2b;
    }
}

.contact-info {
    font-size: em(12px);
    @include from-mobile-only{
        flex: 1 1 30%;
    }
}

.contact-form{
    @include from-mobile-only{
        flex-direction: row;
    }
}

.contact-form__form{
    @include from-mobile-only{
        flex: 1 0 70%;
        margin-right: em(20px);
    }
}

.contact-form__title {
    color: #e0e0e0;
    font-size: rem(30px);
}

.contact-form__subtitle {
    color: #bebebe;
    font-size: rem(18px);
}

.contact-form__field {
    width: 100%;
    margin: em(5px) em(0px);
    color: white;
    background-color: #454545;
    border: 0px solid black;
    padding: em(10px);
}

::-webkit-input-placeholder {
    color: #bebebe;
}

.contact-form__button {
    width: em(90px);
    height: em(37px);
    background-color: #2eb398;
    color: white;
    font-size: rem(12px);
    border: none;
    cursor: pointer;
}

.contact-form__reset{
    margin-right: em(10px);
}

.contact-form__send {
    align-items: flex-end;
    margin-bottom: em(10px);
}

.contact-form__sent{
    color: #2eb398;
    margin-top: em(15px);
}