.memes-gallery__container{
    margin-top: em(80px);
}

.memes-gallery__meme-list{
    margin: em(70px) em(5px) em(120px) em(5px);
}

.memes-gallery {
    margin-bottom: em(50px);
}

.memes-gallery__list{
    flex-direction: column;
    align-self: flex-start;
    margin-bottom: em(150px);
}

.memes-gallery__meme-list {
    display: flex;
    flex-direction: row;
}

/** Memes edit **/

.meme-edit , .meme-edit__template{
    width: 100%;
}

.meme-generator{
    width: 100%;
    max-width: 100%;
}

.meme-generator__container{
    padding: em(10px);
    @include from-tablet-only{
        flex-direction: row;
        justify-content: center;
        align-self: center;        
    }
}

.meme-generator .meme-generator__meme{
    width: 100%;
    height: auto;
} 

.meme-edit__form{
    max-width: 100%;
    width: 100%;
    align-self: flex-start;    
    align-items: center;
}

// search container
.meme-generator__canvas{
    @include from-tablet-only{
        --canvas__margin-right: em(15px);
        margin-right: var(--canvas__margin-right);
        width: calc(100% - var(--canvas__margin-right));
    }
    max-width: 100%;
}

.topText , .bottomText{
    width: 100%;
}

.meme-generator__button {
    width: em(100px);
    height: 30px;
    margin: em(10px) auto;
    background-color: #2eb398;
    color: white;
    font-size: rem(12px);
    border: none;
    cursor: pointer;
    &:hover {
        transition: all 0.5s ease;
        background-color: #2caae1;
    }
}

.top-text__generator-features > * , .bottom-text__generator-features > *{
    display: flex;
    margin-top: em(10px);
    &:not(:last-child){
        margin-right: em(10px);
    }
}

.meme-edit__form > *{
    &:not(:last-child){
        margin-bottom: em(10px);
    }
}

// Memes search
.search-meme__container{
    margin: em(20px) 0;
    @include from-tablet-only {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
    }
}
.search-meme__container > *{
    margin-bottom: em(10px);
    @include from-mobile-only {    
        &:not(:first-child){
            margin-left: em(50px);
        }
    }
}


.search-keywords {
    max-width: 80%;
    @include from-mobile-only{
        max-width: 25%;    
    }    
}

.search-keywords__keyword{
    //didnt work well with rem
    font-size: 16px;
    cursor: pointer;
}

.memes-gallery__keywords {
    margin-left: em(5px);
}

.search-area{
    position: relative;
}

.search-area > *{
    &:not(:last-child){
        margin-right: 10px;
    }
}

.search-dropdown{
    position: absolute;
    top: 24px;
    z-index: 99999;
    width: 100%;
}